#about-us {
    color: white;
    min-height: 97vh;
    background: url(../assets/img/theme.webp) no-repeat center center fixed; 
    background-color: #222933;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

#about-us::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    filter: blur(8px); /* Tambahkan filter blur di sini */
    z-index: 1;
}

#about-us .container {
    position: relative;
    z-index: 2;
}
