@import url('https://rsms.me/inter/inter.css');

html {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

body {
  color: white;
  min-height: 100vh;
  background: url(../assets/img/theme.webp) no-repeat center center fixed;
  background-color: #222933;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  width: 85%;
  max-width: 1200px;
  padding: 20px;
}

.content {
  position: absolute;
  font-size: 1rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.searchbar {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  height: 50px;
  width: 100%;
  max-width: 400px;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  color: white;
  padding: 0 20px;
  transition: all 0.3s ease;
}

.searchbar:hover, .searchbar:focus {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  outline: none;
}

.btn-search {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50%;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.btn-search:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.logo-img {
  width: 15%;
  height: auto;
}

.section-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-section {
  background-color: rgba(44, 43, 43, 0.61);
  backdrop-filter: blur(15px);
  padding: 5vh 0;
  text-align: center;
}

.github-icon {
  vertical-align: middle;
  margin-right: 0.5rem;
}

.github-text {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.github-text:hover {
  color: #f0f0f0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .content {
    font-size: 0.9rem;
  }

  .searchbar {
    width: 100%;
  }

  .btn-search {
    width: 40px;
    height: 40px;
    font-size: 1rem;
  }

  .logo-img {
    width: 30%;
  }
}

@media (max-width: 480px) {
  .content {
    font-size: 0.8rem;
  }

  .searchbar {
    font-size: 0.9rem;
    padding: 0 15px;
  }

  .btn-search {
    font-size: 0.9rem;
  }
}
